.tomatobox-success{
    width:40px;
    height:40px;
    background: #7FC6B2 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
}
.tomatobox-fail{
    width:40px;
    height:40px;
    background: #E43F6F 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
}