.font-family-button{
    font:normal normal 600 30px/36px Ingra;
}
.font-family-clock{
    font: normal normal 600 250px/301px Ingra;
}
.font-family-task{
    font: normal normal 600 60px/72px Ingra;
}
.font-family-today{
    font: normal normal 600 40px/48px Ingra;
}
.font-family-list{
    font:normal normal 600 25px/20px Ingra;
}
.font-family-list2{
    font:normal normal 600 20px/15px Ingra;
}